# backend/.env  (copie ce fichier, renomme-le .env et remplis les valeurs)

# JWT
SECRET_KEY=change_this_secret_key_user
ADMIN_SECRET_KEY=change_this_secret_key_admin
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# PostgreSQL
DATABASE_URL=postgresql+asyncpg://cdcgen:your_password@localhost:5432/cdcgen_db
POSTGRES_USER=cdcgen
POSTGRES_PASSWORD=your_password
POSTGRES_DB=cdcgen_db

# Mistral IA
MISTRAL_KEY=your_mistral_api_key

# Fichiers
DATA_ROOT_PATH=../data
